@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-blue-500: #4257a1;
    --main-blue-700: #283976;
    --main-blue-300: #8091cd;
    --cyan-700: #00519b;
    --cyan-100: #d4eaff;
    --grey-700: #565656;
    --grey-500: #898989;
    --grey-100: #e5e7ef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans';
}

a {
    text-decoration: none;
    color: inherit;
}
