@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-blue-500: #4257a1;
    --main-blue-700: #283976;
    --main-blue-300: #8091cd;
    --main-blue-100: #eaf1ff;
    --cyan-700: #00519b;
    --cyan-100: #d4eaff;
    --grey-700: #565656;
    --grey-500: #898989;
    --grey-100: #e5e7ef;
    --error-color: #ff5c00;
    --error-color-light: #ffe5d7;
    --error-color-dark: #7b2c00;
    --bg-color: #f9fbff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans';
    background-color: var(--bg-color);
}

input,
select,
textarea,
button {
    font: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}

.actions-section {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    margin: auto 0 auto auto;
}
.actions-section button {
    aspect-ratio: 1/1;
    border-radius: 100vh;
    display: flex;
    place-items: center;
    border: none;
    padding: 0.2em;
}

.actions-section .edit-button {
    background-color: var(--main-blue-100);
    color: var(--main-blue-700);
}

.actions-section .delete-button {
    background-color: var(--error-color-light);
    color: var(--error-color-dark);
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}
.list-container h1 {
    font-size: 1.8em;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.horizontal-separator {
    height: 1px;
    background-color: var(--grey-100);
}
