.content-section {
    display: flex;
    flex-direction: column;
    border: none;
}

.content-section-title {
    display: grid;
    grid-template-columns: 10% min-content auto;
    align-items: center;
    gap: 0.3em;
}

.content-section-title h3 {
    width: fit-content;
    white-space: nowrap;
    color: var(--grey-700);
    font-size: 1em;
    font-weight: 600;
}
