.main-nav-bar-container {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 100vh;
    top: 0;
}

.main-nav-bar {
    background: linear-gradient(
        to bottom,
        var(--main-blue-500),
        var(--main-blue-700)
    );
    width: 90px;
    transition: width 0.3s ease;
    padding: 0.75em;
    color: white;
}
.main-nav-bar.expanded {
    width: 250px;
}

.expand-button {
    margin: auto;
    height: fit-content;
    background: none;
    border: none;
}

.main-nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-nav-bar:not(.expanded) ul {
    align-items: center;
}

.nav-bar-links {
    background-color: rgba(128, 145, 205, 0.5);
    height: 100%;
    border-radius: 0.3em;
    padding: 1em 0.6em;
}
.main-nav-bar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.main-nav-bar-link svg {
    flex-shrink: 0;
}
