.propiedades-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.propiedades-layout form {
    gap: 1em;
    max-width: 12em;
    align-self: flex-end;
}
.propiedades-container {
    max-width: 800px;
}
